-# app/views/accident_steps/confirmation.html.haml

.container
  %h3.form-title Accident and Illness
  
.container
  = simple_form_for(@accident, url: wizard_path, :method => :put) do |f|
  
    = f.input :confmaxsum, :label => 'Could you confirm that the maximum Sum Insured for the benefit “Accidental Death” or “Permanent Disablement by Accident” is not higher than 10 times your annual gross income from your principal occupation?'
    = f.input :benefic, :label => 'If you have requested the benefit “Accidental Death” could you please state the beneficiaries to be inserted in policy?'
    
    .row
      .col-sm-2
        %h5.bg-info Dichiarazione
    %p.bg-info To the best of my knowledge and belief, the information provided in connection with this proposal, whether in my own hand or not, is true and I have not withheld any material facts. I understand that non- disclosure or misrepresentation of a material fact may entitle Underwriters to void the insurance. I understand that Underwriters will determine their terms and conditions upon the information provided in connection with this proposal; and I further understand that the signing of this proposal does not bind me to complete, or Underwriters to accept, this Insurance.
    
    .row
      .col-sm-6
        = f.input :signass, :label => 'Signature of the Assured'
      .col-sm-6  
        = f.input :dateass, as: :string, :label =>'Date', input_html: { :class => "confirmation_datepicker" } 
        
    .row
      .col-sm-6
        = f.input :signph, :label => 'Signature of the Policy Holder (if required)'
      .col-sm-6  
        = f.input :dateph, as: :string, :label =>'Date', input_html: { :class => "confirmation_datepicker" } 
         
    = f.input :addinfo, :label => 'Additional Information' 
    
    .evalquest2
      = f.submit "First", :name => "editaccident_button", :class => 'btn btn-primary btn-sm'
      = f.submit "Previous", :name => "back_button", :class => 'btn btn-primary btn-sm'
      = f.submit "Confirm", :class => 'btn btn-primary btn-sm' 
      
    
