-# app/views/accident_steps/personal.html.haml

%h3 Personal Data

= form_for @accident, url: wizard_path do |f|
   
  = f.label :dateofbirth, "Date of Birth"
  = f.text_field :dateofbirth
    
  = f.label :gender, "Gender"
  = f.text_field :gender
  %p 
    = f.submit "Previous", :name => "back_button", :class => 'btn btn-primary btn-sm'
    = f.submit "Continue", :class => 'btn btn-primary btn-sm'
    
 
%p
  = link_to "Cancel", policies_path 
  