%ul.nav.navbar-nav.navbar-right
  - if user_signed_in?
    %li#signed-in  Signed in as #{current_user.email}
    - unless controller.action_name == "edit"
      %li= link_to 'Edit account', edit_user_registration_path  
    %li= link_to 'Sign out', destroy_user_session_path, :method=>'delete'
  - else
    %li= link_to 'Sign in', new_user_session_path
    %li= link_to 'Sign up', new_user_registration_path
%ul.nav.navbar-nav.navbar-left   
  - if user_signed_in?
    %li= link_to 'Home', policies_path
    -#%li= link_to 'My Policyholders', policyholders_path