-# in _personal_simpleform.html.haml (the partial)

= simple_form_for @accident do |f|
  - if @accident.errors.any?
    .error_messages
      %h2
        = pluralize(@accident.errors.count, "error")
        prohibited this @accident from being saved:
      %ul
        - @accident.errors.full_messages.each do |msg|
          %li= msg
  
  = f.input :policy_id, as: :hidden, :input_html => { :value => @policy_id }
  .row
    .col-sm-8       
      = f.input :name, :label => 'Full Name'
  .row
    .col-sm-8    
      = f.input :address, :label => 'Full Address'
      
  .row
    .col-sm-4
      = f.label 'Insurance Period'
      .input-group
        %span.input-group-addon from
        = f.input :insurancestart, as: :string, :label => false, input_html: { :id => "startPicker"}
        %span.input-group-addon to 
        = f.input :insuranceend, as: :string, :label => false, input_html: { :id => "endPicker"}
    .col-sm-4
      = f.input :phrelation, :label => 'Relation to the Policyholder'    
       
  .row
    .col-sm-4
      = f.input :dateofbirth, as: :string, :label => 'Date of Birth', input_html: { :class => "dp1"} 
    .col-sm-4
      = f.input :taxcode, :label => 'Tax code'
   
  .row
    .col-sm-2   
      = f.input :gender, as: :radio_buttons, collection: ["Male", "Female"]
    .col-sm-3
      = f.input :weight, :label => 'Weight in Kg'
    .col-sm-3
      = f.input :height, :label => 'Height in cm'
     
  .row
    .col-sm-8    
      = f.input :occupation, :label => 'Occupation (state all)'
  
  .row
    .col-sm-2
      = f.input :smoker, as: :radio_buttons, collection: ["Yes", "No"], :label => "Do you smoke"
    %div#smoker  
      .col-sm-3
        = f.input :typeofsmoke, :label => 'What do you smoke?'
      .col-sm-3
        = f.input :smokequantity, :label => 'How much do you smoke?'
    %div#stopsmoke
      .col-sm-3
        = f.input :stopdate, as: :string, :label => "If you stopped smoking, state the date:", input_html: { :class => "dp2" } 

  .row
    .col-sm-2
      = f.input :alcohol, as: :radio_buttons, collection: ["Yes", "No"], :label => "Do you drink alcohol?"
    %div#alcohol
      .col-sm-3
        = f.input :typeofalcohol, :label => 'What do you drink?'
      .col-sm-3 
        = f.input :alcoholquantity, :label => 'How much do you drink?'
  .row
    .col-sm-8
      = f.input :nrflights, :label => 'Please state approximate number of flights as a passenger on scheduled flight for the next year'
  .row
    .col-sm-8
      = f.input :motorkm, :label => 'Please state average kilometers per year on motor vehicles'

  
  
  .form-group-1
    = f.submit "Previous", :name => "editpolicy_button", :class => 'btn btn-primary btn-sm'
    = f.submit "Next", :name => "evalquest_button", :class => 'btn btn-primary btn-sm'
    -if controller.action_name == "edit"
      = f.submit "Last", :name => "confirmation_button", :class => 'btn btn-primary btn-sm'
    