%h4 New Accident

%h3 Enter Name and Address
= form_for @accident do |f|
    
  = f.label :name, "Name"
  = f.text_field :name
   
  = f.label :address, "Address"
  = f.text_field :address
  
  = f.submit "Continue"
 
%p
  = link_to "Cancel", policies_path 