-#  This file is app/views/accidents/index.html.haml
-#.header
  =render :partial => 'header_form'
  
%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "/"}
        %img{:src => "https://www.brokerstudio.it/wp-sito/wp-content/themes/shotzz/sprites/i/logo-broker.png"}/
      -#%p.navbar-text Signed in as Maria Samuelsson
      
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li.active
          %a{:href => policies_path}
            My policies
            %span.sr-only (current)
        %li
          %a{:href => policyholders_path}
            My Policyholders
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Dropdown
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => policies_path} Policies
            %li
              %a{:href => policyholders_path} Policyholders
            %li
              %a{:href => "#"} Something else here
            %li.divider
            %li
              %a{:href => "#"} Separated link
            %li.divider
            %li
              %a{:href => "#"} One more separated link
                      
            
  
.container-fluid 
  %h4 Policy: Accidents, Policyholder: #{@policyholder.name}
  .accident-table 
    %table#table_id.display
      %thead
        %tr
          %th Id
          %th Name
          %th Address
          %th Date of Birth
          %th Gender
          %th Action
          -#%th Updated At
      
      %tbody
        - @all_accidents.each do |accident|
          -#- policyholder = Policyholder.where(:id => policy.policyholder_id).first
          %tr
            %td= accident.id
            %td= accident.name
            %td= accident.address
            %td= accident.dateofbirth
            %td= accident.gender
            %td= link_to "Edit Policy", edit_accident_path(accident)
            -#%td= policy.updated_at
            -#%td= link_to "Show Policy", policy_path(policy)
            -#%td= link_to "Edit Policy", edit_policy_path(policy)
            -#%td= link_to "Destroy Policy", policy_path(policy), :confirm => 'Are you sure?', :method => :delete
         
  
 
%p= link_to "Back to policies", policies_path
