-# devise/invitations/new.html.haml
.container
  %h4.title_without_border= t "devise.invitations.new.header"
  = simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f|
    = devise_error_messages!
    - resource.class.invite_key_fields.each do |field|
      .row
        .col-sm-5
          = f.input field
      .row
        .col-sm-5 
          = f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary btn-sm" 