= form_for @policyholdr do |f|
  %fieldset
    %legend
      = controller.action_name.capitalize
      Policyholder
    .control-group
      = f.label :name, :class => 'control-label'
      .controls
        = f.text_field :name, :class => 'text_field'
    .control-group
      = f.label :address, :class => 'control-label'
      .controls
        = f.text_field :address, :class => 'text_field'
    .control-group
      = f.label :vatnumber, :class => 'control-label'
      .controls
        = f.text_field :vatnumber, :class => 'text_field'    
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to 'Cancel', policyholders_path, :class => 'btn'