-# in _form.html.haml (the partial)

= simple_form_for @policyholder do |f|
  - if @policyholder.errors.any?
    .error_messages
      %h2
        = pluralize(@policyholder.errors.count, "error")
        prohibited this @policyholder from being saved:
      %ul
        - @policyholder.errors.full_messages.each do |msg|
          %li= msg
         
  -#%legend
  %h4.title  
    = controller.action_name.capitalize 
    Policyholder       
  .row
    .col-sm-8       
      = f.input :name, :label => 'Full Name'
  .row
    .col-sm-8    
      = f.input :address, :label => 'Full Address'
  .row
    .col-sm-8
      = f.input :vatnumber, :label => 'Fiscal Code or VAT Number'
  .row
    .col-sm-8    
      = f.input :user_id, as: :hidden, :input_html => { :value => current_user.id } 
  .form-group-1
    = f.submit "Submit", :class => 'btn btn-primary btn-sm'    

