= semantic_form_for @policyholder do |f|
  - if @policyholder.errors.any?
    .error_messages
      %h2
        = pluralize(@policyholder.errors.count, "error")
        prohibited this policyholder from being saved:
      %ul
        - @policyholder.errors.full_messages.each do |msg|
          %li= msg
   = f.inputs do
     = f.input :name
     = f.input :created_at, :as => :string
   = f.actions do
     f.action :submit, :as => :button
     f.action :cancel, :as => :link   
    
  
