-#  This file is app/views/policyholders/edit.html.haml
.header
  =render :partial => 'header_form'
  
.nav
  .container
    %ul.pull-left
      %li.active
        = link_to 'Home', policies_path
      %li
        = link_to 'New Policy', new_policy_path 
      %li
        = link_to 'Policyholders', policyholders_path    
    %ul.pull-right
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Log Out
      %li
        %a{:href => "#"} Help  

%h4 Edit Policyholder

= form_for @policyholder do |f|
  - if @policyholder.errors.any?
    .error_messages
      %h2
        = pluralize(@policyholder.errors.count, "error")
        prohibited this policyholder from being saved:
      %ul
        - @policyholder.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :name, "Name"
    = f.text_field :name
  %p  
    = f.label :address, "Address"
    = f.text_field :address
  %p  
    = f.label :vatnumber, "Vat Number"
    = f.text_field :vatnumber
  
  -#= f.fields_for :policies do |builder|
    -#%p
      -#= builder.label :policytype, "Policytype"
      -#= builder.text_field :policytype
      
    

  = f.submit "Submit"
    
%p
  -#= link_to "Show", @policyholder
  = link_to "Cancel", policyholders_path