-#  This file is app/views/policyholders/index.html.haml
    
.container#index-box
  %h4.title My Policyholders
  - if @policyholders.empty?
    .alert.alert-info You have no active policyholders
  - else       
    .policyholder-table
      %table#table_id.display
        %thead
          %tr
            %th Id
            %th Name
            %th Address
            %th Fiscal Code/VAT Number
            %th Action
            
            
        %tbody
          - @policyholders.each do |policyholder|
            %tr
              %td= policyholder.id
              %td= policyholder.name
              %td= policyholder.address
              %td= policyholder.vatnumber
              %td
                -#= link_to "Show", policyholder_path(policyholder), class: 'btn btn-primary btn-xs'
                = link_to "Edit", edit_policyholder_path(policyholder), class: 'btn btn-primary btn-xs'
                = link_to "Destroy", policyholder, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-danger btn-xs'
            
 
.container
  %p= button_to 'New Policyholder', new_policyholder_path, :method => :get, class: 'btn btn-primary'          




