-#!! 5
%html
  %head
    %title Policies
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -#= stylesheet_link_tag 'application'
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"
    = javascript_include_tag :defaults
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    -#= javascript_include_tag 'application'
    = csrf_meta_tags
    

  %body
  -# this goes just inside %body:
  -#= render :partial => 'flashes'
  -# this goes just inside %body:
  - if flash[:notice]
    #notice.message.alert.alert-success= flash[:notice]
  - elsif flash[:warning]
    #warning.message.alert.alert-warning= flash[:warning]
  - elsif flash[:alert]
    #alert.message.alert.alert-warning= flash[:alert]  
  = render :partial => 'shared/navbar_header'  
  
  = yield