= form_for @policy do |f|
  - if @policy.errors.any?
    .error_messages
      %h2
        = pluralize(@policy.errors.count, "error")
        prohibited this policy from being saved:
      %ul
        - @policy.errors.full_messages.each do |msg|
          %li= msg
  .field
    -#= f.label :policytype
    = f.text_field :policytype
    
  = f.fields_for :policies do |builder|
    = render 'policy_fields', f: builder
  
  %br
  .actions
    = f.submit

