-#  This file is app/views/policies/dashboard.html.haml
-#.header
  =render :partial => 'header_form'
  
-# New list approach  
.content 
  .container-fluid#dashboard-main
    %h4.title Agent's Dashboard
    %ul#translate-2-lang.list-inline
      %li.lang-en.flag-en= link_to_unless_current "English", locale: "en" 
      %li.lang-it.flag-it= link_to_unless_current "Italiano", locale: "it" 
    .row
      .col-md-4
        .policyholders-content#index-box
          %h4.title All active users
          %ul#policy-list
            - @all_users.each do |user|
              %li#policy-item
                %p= link_to "#{user.email}", user_policies_path(user)
                .row  
                  %ul.list-inline#policy-action
                    %li= link_to "Invite User", new_user_invitation_path(user)
                    %li= link_to "Delete", user_path(user), :confirm => 'Are you sure?', :method => :delete 
                    -#%li= link_to "Destroy", policyholder, :confirm => 'Are you sure?', :method => :delete
 
          
        .contact-form#index-box
          %h4.title Registration Invitation
          -#%p= button_to 'Contact Form', new_contact_path, :method => :get, class: 'btn btn-primary'  
          = simple_form_for Contact.new, :url => contacts_path do |f|
            = f.input :name, :required => true
            = f.input :email, :required => true
            = f.input :message, :as => :text, :required => true
            .hidden
              = f.input :nickname, :hint => 'Leave this field blank!'
            %div
              = f.button :submit, 'Send message', :class=> "btn btn-primary"     
         
          %address
            <strong>BrokerStudio</strong><br>
            V. San Pier Tommaso, 18/3<br> 
            40139 Bologna (BO) – Italy<br>
            <abbr title="Phone">P:</abbr> +39.051.5871644<br> 
            <abbr title="Fax">Fax:</abbr> +39.051.5872504<br> 
            info@brokerstudio.it Skype: brokerstudio.snc 
                
      .col-md-8
        -#.policies-content#index-box
          %h4.title My Policies
          %ul#policy-list
            - @all_policies.each do |policy|
              - policyholder = Policyholder.where(:id => policy.policyholder_id).first
              %li#policy-item
                .row
                  .col-md-5
                    %h4= policy.policytype
                .row
                  .col-md-2
                    %p Policyholder:
                  .col-md-6     
                    %p= policyholder.name
                .row 
                  .col-md-2
                    %p Expiring date:
                  .col-md-6     
                .row  
                  %ul.list-inline.pull-right#policy-action
                    %li= link_to "Show Policy", policy_path(policy)
                    %li= link_to "Destroy Policy", policy_path(policy), :confirm => 'Are you sure?', :method => :delete   

        -#.create-policy#index-box
          %h4.title Create a new policy
          .row
            = simple_form_for @new_policy, :url => { :action => "create_policy" } do |f|
              .col-md-4
                = f.input :policytype, :label => 'Select Policytype:' do
                  = f.select :policytype, Policy.all_policytypes
              .col-md-3 
                = f.input :policyholder_id, :label => 'Select Policyholder:' do
                  = f.select :policyholder_id, @all_policyholders.map {|p| [p.name,p.id]}
              .col-md-2 
                = f.input :user_id, as: :hidden, :input_html => { :value => current_user.id }   
              .col-md-3  
                = f.submit "Create Policy", class: "btn btn-primary"

.footer
  .container-fluid
    %p#footer-text © 2012 Brokerstudio Srl · Via San Pier Tommaso, 18/3 – 40139 Bologna – P.I. 02110861206 - RUIB000126973
           
        