-# in app/views/policies/edit.html.haml

.container
  %h4.title= t(".title")

  = simple_form_for (@policy) do |f|
    .row
      .col-sm-6
        = f.input :policyholder_id, :label => t(".select_policyholder") do
          = f.select :policyholder_id, @all_policyholders.map {|p| [p.name,p.id]}
    .row
      .col-sm-6    
        = f.label t(".insurance_period")
        .input-group
          %span.input-group-addon from
          = f.input :insurancestart, as: :string, :label => false, input_html: { :id => "startPicker"}
          %span.input-group-addon to 
          = f.input :insuranceend, as: :string, :label => false, input_html: { :id => "endPicker"}  
    %br       
    .form-group-1 
      = f.submit t("defaults.next"), :name => "editaccident_button", :class => 'btn btn-primary btn-sm'
      = f.submit t("defaults.last"), :name => "confirmation_button", :class => 'btn btn-primary btn-sm'
      -#= f.submit "Update", class: "btn btn-primary"