= form_for @policy do |f|
  - if @policy.errors.any?
    .error_messages
      %h2
        = pluralize(@policy.errors.count, "error")
        prohibited this policy from being saved:
      %ul
        - @policy.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    = f.input :policytype, :collection => [["Infortuni"], ["Impianti Fotovoltaici"]]
    = f.input :policyholder, :include_blank => false
    = f.input :created_at, :as => :string
    = f.input :updated_at, :as => :string
  = f.actions do
    f.action :submit, :as => :button
    f.action :cancel, :as => :link  

