-#  This file is app/views/policies/index.html.haml

  
-# New list approach  
.content 
  .container-fluid#dashboard-mail
    -if current_user.role == "admin"
      %h4.title_page User Account for: #{@user.email}
    %ul#translate-2-lang.list-inline
      %li.lang-en.flag-en= link_to_unless_current "English", locale: "en" 
      %li.lang-it.flag-it= link_to_unless_current "Italiano", locale: "it" 
    .row
      .col-md-4
        .policyholders-content#index-box
          %h4.title= t "policyholders.title"
          %ul#policy-list
            - @all_policyholders.each do |policyholder|
              %li#policy-item
                -#%p= policyholder.id
                %p= policyholder.name
                %p= policyholder.address
                %p= policyholder.vatnumber
                .row  
                  %ul.list-inline#policy-action
                    %li= link_to t("defaults.edit"), edit_policyholder_path(policyholder)
                    %li= link_to t("defaults.delete"), policyholder, :confirm => 'Are you sure?', :method => :delete
 
          -#%p= button_to t("policyholders.button_to_newph"), new_user_policyholder_path(:user_id => "#{@user.id}"), :method => :get, class: 'btn btn-primary'          
          - unless current_user.role == "admin"
            %p= button_to t("policyholders.button_to_newph"), new_policyholder_path, :method => :get, class: 'btn btn-primary'        
        
        -#.contact-form#index-box
          %h4.title Contact Us 
          -#%p= button_to 'Contact Form', new_contact_path, :method => :get, class: 'btn btn-primary'  
          = simple_form_for Contact.new, :url => contacts_path do |f|
            = f.input :name, :required => true
            = f.input :email, :required => true
            = f.input :message, :as => :text, :required => true
            .hidden
              = f.input :nickname, :hint => 'Leave this field blank!'
            %div
              = f.button :submit, 'Send message', :class=> "btn btn-primary"     
         
          %address
            <strong>BrokerStudio</strong><br>
            V. San Pier Tommaso, 18/3<br> 
            40139 Bologna (BO) – Italy<br>
            <abbr title="Phone">P:</abbr> +39.051.5871644<br> 
            <abbr title="Fax">Fax:</abbr> +39.051.5872504<br> 
            info@brokerstudio.it Skype: brokerstudio.snc 
                
      .col-md-8
        .policies-content#index-box
          %h4.title= t "policies.title"
          %p= t "policies.message" 
        .policies-content#index-box
          %h4.title= t "questionary.title"
          %ul#policy-list
            - @all_policies.each do |policy|
              - policyholder = Policyholder.where(:id => policy.policyholder_id).first
              %li#policy-item
                .row
                  .col-md-5
                    %h4= policy.policytype
                .row
                  .col-md-2
                    %p= t "questionary.policyholder"
                  .col-md-6     
                    %p= policyholder.name
                .row 
                  .col-md-2
                    %p= t "questionary.expiring"
                  .col-md-6  
                    %p= policy.insuranceend   
                .row  
                  %ul.list-inline.pull-right#policy-action
                    %li= link_to t("defaults.show"), policy_path(policy)
                    %li= link_to t("defaults.delete"), policy_path(policy), :confirm => 'Are you sure?', :method => :delete   

        .create-policy#index-box
          %h4.title= t "createpolicy.title"
          = simple_form_for @new_policy, :url => {:controller => "policies", :action => "create_policy" } do |f|
            .row
              .col-md-4
                = f.input :policytype, :label => t("createpolicy.select_policy") do
                  = f.select :policytype, Policy.all_policytypes
              .col-md-4
                = f.input :policyholder_id, :label => t("createpolicy.select_policyholder") do
                  = f.select :policyholder_id, @all_policyholders.map {|p| [p.name,p.id]}  
              .col-md-2
                
                
            .row  
              .col-md-6
                = f.label t("createpolicy.insurance_period")
                .input-group
                  %span.input-group-addon from
                  = f.input :insurancestart, as: :string, :label => false, input_html: { :id => "startPicker"}
                  %span.input-group-addon to 
                  = f.input :insuranceend, as: :string, :label => false, input_html: { :id => "endPicker"} 
              .col-md-3 
                = f.input :user_id, as: :hidden, :input_html => { :value => current_user.id } 
            .row 
              .col-md-10              
              .col-md-2 
                = f.submit t("defaults.submit"), class: "btn btn-primary"

.footer
  .container-fluid
    %p#footer-text © 2012 Brokerstudio Srl · Via San Pier Tommaso, 18/3 – 40139 Bologna – P.I. 02110861206 - RUIB000126973
           
        