-#  This file is app/views/policies/index.html.haml
.header
  =render :partial => 'header_form'
         
.nav
  .container
    %ul.pull-left
      %li.active
        -#= link_to 'Home', policies_path
      %li
        -#= link_to 'New Policy', new_policy_path 
      %li
        = link_to 'My Policyholders', policyholders_path    
    %ul.pull-right
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Log Out
      %li
        %a{:href => "#"} Help
  
.container-fluid 
  %h4 My Policies
  .policy-table 
    -#%table.table.table-striped.table-condensed.table-bordered
    %table#table_id.display
      %thead
        %tr
          %th Id
          %th Policy
          %th Policyholder Id
          %th Created At
          %th Action
                    
      %tbody
        - @all_policies.each do |policy|
          - policyholder = Policyholder.where(:id => policy.policyholder_id).first
          %tr
            %td= policy.id
            %td= policy.policytype
            %td= policyholder.name
            %td= policy.created_at
            %td
              = link_to "Show Policy", policy_path(policy), class: "btn btn-primary btn-xs"
              -#= link_to "Edit Policy", edit_accident_path(policy), class: "btn btn-primary btn-xs"
              = link_to "Destroy Policy", policy_path(policy), :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger btn-xs"


.container-fluid
  .create-policy 
    %h4 Create a new policy
    .row
      = form_for @new_policy, :url => { :action => "create_policy" }  do |f|
        .col-md-4
          Select Policytype: #{f.select :policytype, Policy.all_policytypes}
        .col-md-4  
          Select Policyholder: #{f.select :policyholder_id, @all_policyholders.map {|p| [p.name,p.id]}}
        .col-md-3  
          = f.submit "Create Policy", class: "btn btn-primary"